<h1>Stupid Coaching</h1>
<p>Find me in app/views/questions/ask.html.erb</p>


<div class="form">
  <form action="/answer">
    <input type="text" name="question" placeholder="Ask Me Anything" class="question">
    <input type="submit" class="button">
  </form>
</div>
